.content_img {
  text-decoration-color: aqua;
  text-decoration-thickness: 2px;
}
.content_img img {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border-radius: 30px;
}
.content_img h2 {
  margin: 10px;
}
.content_img h3 {
  margin: 10px;
}
.content_img ul li {
  list-style-type: square;
}
.content_img blockquote {
  background: red;
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.content_img a {
  background: #000;
  padding: 15px 25px;
  width: 300px;
  border-radius: 20px;
  margin: 20px auto;
}
